<!DOCTYPE html>
<html>
<head>

<title>Talk</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="static/style.css?_={{ _ }}" rel="stylesheet">
<script type="text/javascript" src="static/vendor/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="static/vendor/underscore-min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
  window.HOST = document.location.origin;
</script>

</head>

<body>

<div id="target" class="container">

</div>

<script type="text/javascript" src="static/app.js?_={{ _ }}"></script>

{% include "templates.html" %}

</body>
</html>
